.App {
  margin-left: 2%;
  text-align: left;
}
.li_ele{
  margin-left:2%;
}
#Navbar{
  background-color: rgb(6, 6, 36);
  
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#Navbar img{
  height: 100%;
}
.links{
  color: white;
  margin-left:10%;
}